[Desktop Entry]
Name=chee-i3
Comment=improved dynamic tiling window manager
Exec=chee-i3
TryExec=i3
Type=Application
X-LightDM-DesktopName=chee-i3
DesktopNames=chee-i3
Keywords=tiling;wm;windowmanager;window;manager;
